/build
/data/kfTrack/fromPenTao/NearFace/video_1
/data/kfTrack/fromPenTao/NearFace/video_2
/.vscode
/.vs
/out
/Debug
/*.sln
/*.vcxproj
/*.filters
/*.user
/android/.idea
/.android-camera2
/data/yuv/record.yuv
/records/*
/android/app/release
/.idea
/cmake-build-debug
/cmake-build-debug-visual-studio
/build-linux
/release-linux
